{{- define "servarr-template.service-account" -}}
{{- if .Values.serviceAccount.create -}}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "servarr-template.serviceAccountName" . }}
  labels:
    {{- include "servarr-template.labels" (dict "root" $ "instance" dict) | nindent 4 }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
...
{{- end }}
{{- end }}
