{{- define "servarr-single.secret" -}}
{{- if .Values.syncApiKey.enabled -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "servarr-single.syncApiKeySecretName" . }}
  labels:
    {{- include "servarr-single.labels" . | nindent 4 }}
type: Opaque
data:
  {{ include "servarr-single.syncApiKeySecretKey" . }}: {{ "" | b64enc | quote }}
...
{{- end }}
{{- end }}
