{{- define "servarr-single.secret" -}}
{{- if .Values.syncApiKey.enabled -}}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "servarr-single.syncApiKeySecretName" . }}
  labels:
    {{- include "servarr-single.labels" . | nindent 4 }}
type: Opaque
data:
  {{ include "servarr-single.syncApiKeySecretKey" . }}: {{ "" | b64enc | quote }}
...
---
{{- if .Values.syncApiKey.pushSecret.enabled -}}
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ include "servarr-single.syncApiKeySecretName" . }}
  labels:
    {{- include "servarr-single.labels" . | nindent 4 }}
spec:
  deletionPolicy: {{ .Values.syncApiKey.pushSecret.deletionPolicy | default "Delete" | quote }}
  refreshInterval: {{ .Values.syncApiKey.pushSecret.refreshInterval | default "1h" | quote }}
  secretStoreRefs:
    {{- with .Values.syncApiKey.pushSecret.secretStoreRefs }}
      {{- toYaml . | nindent 4 }}
    {{- end }}
  selector:
    secret:
      name: {{ include "servarr-single.syncApiKeySecretName" . }}
  data:
    - match:
        secretKey: {{ include "servarr-single.syncApiKeySecretKey" . }}
        {{- with .Values.syncApiKey.pushSecret.remoteRef }}
        remoteRef:
          {{- toYaml . | nindent 10 }}
        {{- end }}
{{- end }}
{{- end }}
{{- end }}
