name: Bump Helm chart version

on:
  pull_request:
    types: [closed]

jobs:
  bump:
    if: >
      github.event.pull_request.merged == true &&
      github.actor == 'renovate[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 2

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@e89d40939c28e39f97cf32126055eeae86ba74ec # v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@gmail.com"

      - name: Install deps
        run: |
          pip install semver yq jq

      - name: Build input JSON
        run: |
          echo "[]" > input.json

          for file in $(git diff --name-only HEAD^ HEAD | grep Chart.yaml || true); do
            OLD_APP=$(git show HEAD^:$file | yq '.appVersion')
            NEW_APP=$(yq '.appVersion' $file)

            jq \
              --arg path "$file" \
              --arg old "$OLD_APP" \
              --arg new "$NEW_APP" \
              '. += [{"path": $path, "old_app": $old, "new_app": $new}]' \
              input.json > tmp.json && mv tmp.json input.json
          done

          cat input.json

      - name: Run version bump script
        run: python scripts/bump_chart_versions.py < input.json

      - name: Commit changes
        run: |
          git add charts/*/Chart.yaml
          git diff --cached --quiet || git commit -m "chore: bump chart versions"
          git push